.nav {
  display: flex;
  width: 425px;
  gap: 64px;

  a {
    text-decoration: none;
    color: $color-secondary;

    &.active {
      color: $color-primary;
      border-bottom: 2px solid $color-primary;
    }
  }
}

.nav-item {
  @include uppercase;
}
