.header {
  position: sticky;
  z-index: $z-header;
  top: 0;

  display: flex;
  align-items: center;

  height: 48px;
  width: 100%;
  gap: 24px;

  background-color: $color-white;
  box-shadow: $shadow-border-bottom;

  @include respond(desktop) {
    height: 64px;
  }
}
