.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 128px;
  height: 64px;

  @include tablet {
    width: 96px;
    height: 48px;
  }

  @include mobile {
    width: 96px;
    height: 48px;
  }
}

.logo {
  width: 80px;
  height: 28px;

  @include tablet {
    width: 64px;
    height: 22px;
  }

  @include mobile {
    width: 64px;
    height: 22px;
  }
}
