.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 96px;
  height: 48px;

  @include respond(tablet) {
    width: 96px;
    height: 48px;
  }

  @include respond(desktop) {
    width: 128px;
    height: 64px;
  }
}

.logo {
  width: 64px;
  height: 22px;

  @include respond(tablet) {
    width: 64px;
    height: 22px;
  }

  @include respond(desktop) {
    width: 80px;
    height: 28px;
  }
}

.wrapper-footer {
  display: flex;

  height: 32px;
  margin-top: 16px;

  @include respond(tablet) {
    width: 100%;
    margin-top: 0;
  }
}

.logo-footer {
  width: 89px;
  height: 32px;
}
