.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

a,
button,
input,
select {
  transition:
    color $animation-duration-hover ease,
    background-color $animation-duration-hover ease,
    border-color $animation-duration-hover ease,
    box-shadow $animation-duration-hover ease,
    transform $animation-duration-hover ease;
}
