.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.main-content {
  max-width: $grid-container-width-desktop;
  margin-inline: auto;
  padding-inline: $padding-inline-mobile;
  box-sizing: content-box;

  @include respond(tablet) {
    padding-inline: $padding-inline-tablet;
  }

  @include respond(desktop) {
    padding-inline: $padding-inline-desktop;
  }
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}
