// Common values
$grid-gutter: 16px;
$grid-column-width: 32px;

// Mobile (320–639px)
$grid-columns-mobile: 4;

// Tablet (640–1199px)
$grid-columns-tablet: 12;

// Desktop (≥1200px)
$grid-columns-amount-desktop: 24;
$grid-gutter-amount-desktop: $grid-columns-amount-desktop - 1;

$grid-container-width-desktop: (
    $grid-columns-amount-desktop * $grid-column-width
  ) +
  ($grid-gutter-amount-desktop * $grid-gutter);
