@mixin h1 {
  font-weight: $font-weight-bold;
  font-size: $h1-size-mobile;
  line-height: $h1-line-height-mobile;
  letter-spacing: $h1-letter-spacing-mobile;

  @include respond(tablet) {
    font-size: $h1-size-tablet-desktop;
    line-height: $h1-line-height-tablet-desktop;
    letter-spacing: $h1-letter-spacing-tablet-desktop;
  }

  @include respond(desktop) {
    font-size: $h1-size-tablet-desktop;
    line-height: $h1-line-height-tablet-desktop;
    letter-spacing: $h1-letter-spacing-tablet-desktop;
  }
}

@mixin h2 {
  font-weight: $font-weight-bold;
  font-size: $h2-size-mobile;
  line-height: $h2-line-height-mobile;
  letter-spacing: $h2-letter-spacing-mobile;

  @include respond(tablet) {
    font-size: $h2-size-tablet-desktop;
    line-height: $h2-line-height-tablet-desktop;
    letter-spacing: $h2-letter-spacing-tablet-desktop;
  }

  @include respond(desktop) {
    font-size: $h2-size-tablet-desktop;
    line-height: $h2-line-height-tablet-desktop;
    letter-spacing: $h2-letter-spacing-tablet-desktop;
  }
}

@mixin h3 {
  font-weight: $font-weight-bold;
  font-size: $h3-size-mobile;
  line-height: $h3-line-height-mobile;
  letter-spacing: $h3-letter-spacing-mobile;

  @include respond(tablet) {
    font-weight: $font-weight-semibold;
    font-size: $h3-size-tablet-desktop;
    line-height: $h3-line-height-tablet-desktop;
    letter-spacing: $h3-letter-spacing-tablet-desktop;
  }

  @include respond(desktop) {
    font-weight: $font-weight-semibold;
    font-size: $h3-size-tablet-desktop;
    line-height: $h3-line-height-tablet-desktop;
    letter-spacing: $h3-letter-spacing-tablet-desktop;
  }
}

@mixin h4 {
  font-weight: $font-weight-semibold;
  font-size: $h4-size-mobile;
  line-height: $h4-line-height-mobile;
  letter-spacing: $h4-letter-spacing-mobile;

  @include respond(tablet) {
    font-size: $h4-size-tablet-desktop;
    line-height: $h4-line-height-tablet-desktop;
    letter-spacing: $h4-letter-spacing-tablet-desktop;
  }

  @include respond(desktop) {
    font-size: $h4-size-tablet-desktop;
    line-height: $h4-line-height-tablet-desktop;
    letter-spacing: $h4-letter-spacing-tablet-desktop;
  }
}

@mixin uppercase {
  font-weight: $font-weight-bold;
  font-size: $uppercase-size;
  line-height: $uppercase-line-height;
  letter-spacing: $uppercase-spacing;
  text-transform: uppercase;
}

@mixin button-text {
  font-weight: $font-weight-semibold;
  font-size: $button-text-size;
  line-height: $button-text-line-height;
}

@mixin body-text {
  font-weight: $font-weight-regular;
  font-size: $body-text-size;
  line-height: $body-text-line-height;
}

@mixin small-text {
  font-weight: $font-weight-semibold;
  font-size: $small-text-size;
  line-height: $small-text-line-height;
}
