// ==== COLORS ====
$color-accent: #216cff;
$color-secondary-accent: #f447af;
$color-primary: #0f0f11;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-elements: #e2e6e9;
$color-light-border: #e2e6e9;
$color-medium-border: #b4bdc3;
$color-hover: #fafbfc;
$color-background: #fafbfc;
$color-white: #ffffff;
$color-green: #27ae60;
$color-red: #eb5757;

$color-background-transparent: transparent;

// ==== LAYERS ====
$z-base: 0;
$z-header: 100;
$z-overlay: 200;

// ==== ANIMATION ====
$animation-duration-menu: 0.3s;
$animation-duration-hover: 0.4s;
$animation-duration-picture-slider: 0.7s;
$animation-duration-slider-dot: 0.3s;

// ==== SHADOWS ====
$shadow-border-top: 0px -1px 0px 0px $color-light-border;
$shadow-border-bottom: 0px 1px 0px 0px $color-light-border;
$shadow-border-left: -1px 0px 0px 0px $color-light-border;
$shadow-hover-elevation: 0px 3px 13px 0px #17203166;

// ==== RADIUS ====
$radius-sm: 2px;
$radius-md: 8px;
$radius-round: 50%;

// ==== FONT ====
$font-family: 'Mont', sans-serif;

// ==== FONT WEIGHT ====
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-semibold: 700;
$font-weight-bold: 800;

// ==== SPACING ====
$padding-inline-mobile: 16px;
$padding-inline-tablet: 24px;
$padding-inline-desktop: 32px;

$section-gap-mobile: 56px;
$section-gap-tablet: 64px;
$section-gap-desktop: 80px;

// ==== TYPOGRAPHY - MOBILE ====
$h1-size-mobile: 32px;
$h1-line-height-mobile: 41px;
$h1-letter-spacing-mobile: -0.01em;

$h2-size-mobile: 22px;
$h2-line-height-mobile: 140%;
$h2-letter-spacing-mobile: 0;

$h3-size-mobile: 20px;
$h3-line-height-mobile: 100%;
$h3-letter-spacing-mobile: 0;

$h4-size-mobile: 16px;
$h4-line-height-mobile: 100%;
$h4-letter-spacing-mobile: 0;

// ==== TYPOGRAPHY - TABLET & DESKTOP ====
$h1-size-tablet-desktop: 48px;
$h1-line-height-tablet-desktop: 56px;
$h1-letter-spacing-tablet-desktop: -0.01em;

$h2-size-tablet-desktop: 32px;
$h2-line-height-tablet-desktop: 41px;
$h2-letter-spacing-tablet-desktop: -0.01em;

$h3-size-tablet-desktop: 22px;
$h3-line-height-tablet-desktop: 140%;
$h3-letter-spacing-tablet-desktop: 0;

$h4-size-tablet-desktop: 20px;
$h4-line-height-tablet-desktop: 100%;
$h4-letter-spacing-tablet-desktop: 0;

// ==== TYPOGRAPHY - MISC ====

$uppercase-size: 12px;
$uppercase-line-height: 11px;
$uppercase-spacing: 0.04em;

$button-text-size: 14px;
$button-text-line-height: 21px;
$button-text-spacing: 0;

$body-text-size: 14px;
$body-text-line-height: 21px;
$body-text-spacing: 0;

$small-text-size: 12px;
$small-text-line-height: 100%;
$small-text-spacing: 0;
