.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 96px;
  padding: 32px;

  background-color: $color-white;

  @include respond(mobile) {
    flex-direction: column;
    justify-content: space-between;
    height: 257px;
    padding: 16px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 1136px;

  @include respond(tablet) {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  @include respond(mobile) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 378.67px;

  @include respond(tablet) {
    width: 192px;
  }

  @include respond(mobile) {
    flex-direction: column;
    align-items: start;
    height: 65px;
    width: 100%;
  }
}

.links a {
  @include uppercase;
  color: $color-secondary;
  text-decoration: none;
}

.back-to-top-container {
  display: flex;
  align-items: center;

  @include respond(mobile) {
    margin-bottom: 16px;
  }
}
