.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 96px;
  background-color: $color-white;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1136px;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 378.67px;
}

.links a {
  @include uppercase;

  text-decoration: none;
  color: $color-secondary;
}

.back-to-top {
  display: flex;
  align-items: center;
}
