.list-wrapper {
  display: flex;
  gap: 16px;
  overflow: hidden;
  width: calc(100% + $padding-inline-mobile);

  @include respond(tablet) {
    width: calc(100% + $padding-inline-tablet);
  }

  @include respond(desktop) {
    width: 100%;
  }
}

.list {
  display: flex;
  gap: 16px;
  transition: transform $animation-duration-picture-slider ease;
}
