.header {
  background-color: $color-white;
  box-shadow: 0px 1px 0px 0px $color-elements;
  height: 64px;
  display: flex;
  align-items: center;
  gap: 24px;

  @include tablet {
    height: 48px;
  }

  @include mobile {
    height: 48px;
  }
}
