.header-actions {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
}

.burger-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;
  border: none;

  background-color: $color-white;
  box-shadow: -1px 0px 0px 0px $color-light-border;

  :hover {
    transform: scale(1.1);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  box-shadow: -1px 0px 0px 0px $color-light-border;

  @include respond(tablet) {
    width: 48px;
    height: 48px;
  }

  @include respond(desktop) {
    width: 64px;
    height: 64px;
  }

  svg {
    width: 16px;
    height: 16px;

    transition: transform $animation-duration-hover ease;
  }

  @media (hover: hover) {
    &:hover svg {
      transform: scale(1.3);
    }
  }
}
