.header-actions {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
}

.burger-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;
  border: none;

  background-color: $color-white;
  box-shadow: $shadow-border-left;

  @include respond(tablet) {
    display: none;
  }

  @include hover-scale;
}

.icon {
  display: none;

  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  box-shadow: $shadow-border-left;

  svg {
    width: 16px;
    height: 16px;

    transition: transform $animation-duration-hover ease;
  }

  @include hover-scale;

  @include respond(tablet) {
    display: flex;
  }

  @include respond(desktop) {
    width: 64px;
    height: 64px;
  }
}
