.header-actions {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
}

.burger-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;
  border: none;

  background-color: $color-white;
  box-shadow: -1px 0px 0px 0px $color-elements;

  :hover {
    transform: scale(1.1);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 64px;

  box-shadow: -1px 0px 0px 0px $color-elements;

  :hover {
    transform: scale(1.1);
  }

  @include tablet {
    width: 48px;
    height: 48px;
  }

  @include mobile {
    width: 48px;
    height: 48px;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}
