.back-to-top {
  display: inline-flex;
  align-items: center;
  gap: 16px;

  padding: 0;
  border: 0;

  color: $color-secondary;
  background: transparent;

  font-family: $font-family;

  cursor: pointer;

  transition: color $animation-duration-hover ease;

  .label {
    @include small-text;

    color: inherit;
    text-align: right;
  }

  .icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    flex-shrink: 0;

    color: $color-primary;

    border: 1px solid $color-icons;
    border-radius: $radius-round;

    transition: border-color $animation-duration-hover ease;
  }

  &:hover {
    color: $color-primary;

    .icon-container {
      border-color: $color-primary;
    }
  }
}
