.pictures-slider {
  position: relative;
  aspect-ratio: 1 / 1.1;
  overflow-x: hidden;
  margin-inline: -16px;

  @include respond(tablet) {
    margin-inline: 0;
  }

  @include respond(desktop) {
    margin-inline: 0;
  }

  .slider-track {
    display: flex;
    aspect-ratio: 1 / 1;
    transition: transform $animation-duration-picture-slider ease;

    &.no-transition {
      transition: none;
    }
  }

  .slide {
    min-width: 100%;
    min-height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

.no-transition {
  transition: none;
}

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 4px;

  .dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

    .dot {
      width: 14px;
      height: 4px;
      border-radius: 2px;
      background-color: $color-light-border;
      border: none;
      transition:
        background-color 0.3s ease,
        width 0.3s ease;
      cursor: pointer;

      &.active {
        background-color: $color-primary;
      }
    }
  }
}
