.back-to-top {
  display: flex;
  align-items: center;

  border: none;

  background-color: transparent;

  font-family: $font-family;

  cursor: pointer;

  .label {
    @include small-text;

    line-height: 100%;
    color: $color-secondary;

    margin-right: 16px;
    text-align: right;

    transition: color 0.4s ease;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
    border: 1px solid $color-icons;
    border-radius: 100%;

    transition: border 0.4s ease;

    svg {
      stroke: $color-primary;
    }
  }

  &:hover {
    .label {
      color: $color-primary;
    }

    .icon-container {
      border-color: $color-primary;
    }
  }
}
